body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #252324;
    font-size: 16px;
    font-family: Oswald;
    /*background-image: url(https://lh3.googleusercontent.com/pw/AIL4fc9ubOZVFxe0DjCzwIDGW6r_giDmheGhjURlLBNu7vQAg_9J3_iCtEpavtVdCVBlOVbLoeFFdgzR6FuNRYg2cZJRkbosj9LhVMI3VagywAd9mybbMgmVWlARxdr_Cobdc0wPn1KMuTGH3amf0W955zYE=w1410-h923-s-no);
    */
    background-image: url(bgpic.png);
    
    background-position-x: right;
    background-position-y: top;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
  .nav-bar {
    margin: 0;
    background-color: #DA3287;
  }
  
  .nav-bar a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
  }
  
  .nav-bar a:hover {
    color: #F2BA49;
    transition: color 0.3s;
  }
  
  ul.nav-bar {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .nav-bar li {
    padding: 10px;
    padding-right: 30px;
    align-items: center;
  }
  
  .links {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .sign-in {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
  }

  .profile-pic {
    width: 35px;
    height: auto;
    margin-left: -20px;
  }
  
  .footer {
    position: fixed;
    bottom: 0;
  }

  .search {
    height: 60vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  footer {
    background-color: #DA3287;
    text-align: center;
    height: 35px; 
    width: 100%;
    color: white; 
    font-size: 20px;
    font-weight: bolder;
    position: fixed;
    bottom: 0;
    padding: 10px;
  }

  .panel {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }


  
