body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #252324;
    font-size: 16px;
    font-family: Oswald;
    background-image: url(bgpic.png);
    background-position-x: right;
    background-position-y: bottom;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
  .nav-bar {
    margin: 0;
    background-color: #DA3287;
  }
  
  .nav-bar a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
  }
  
  .nav-bar a:hover {
    color: #F2BA49;
    transition: color 0.3s;
  }
  
  ul.nav-bar {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .nav-bar li {
    padding: 10px;
    padding-right: 30px;
    align-items: center;
  }
  
  .links {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .sign-in {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
  }

  .profile-pic {
    width: 35px;
    height: auto;
    margin-left: -20px;
  }
  
  .footer {
    position: fixed;
    bottom: 0;
  }

  .search {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .full {
    display: flex;
    position: absolute;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: absolute;
    top: 280px;
    left: 100px;
    overflow: hidden;
  }

  .sandimg {
    width: 50%;
    position: relative;
    top: 270px;
    left: 1250px;
    border-radius: 30px;
    border-color: goldenrod;
    border-style: inset;
    border-width: 10px;
    overflow: hidden;
  }

 .box1 {
    height: 150px;
    width: 1000px;
    border-radius: 30px;
    background-image: linear-gradient(to bottom right, #DA3283, #FA526E, #FF7B5C, #FFA651, #FFD056);
  }

  .box2 {
    height: 150px;
    width: 1000px;
    border-radius: 30px;
    background-image: linear-gradient(to bottom right, #DA3283, #FA526E, #FF7B5C, #FFA651, #FFD056);
  }

  .box3 {
    height: 150px;
    width: 1000px;
    border-radius: 30px;
    background-image: linear-gradient(to bottom right, #DA3283, #FA526E, #FF7B5C, #FFA651, #FFD056);
  }

  .box1:hover {
    
  }

  footer {
    background-color: #DA3287;
    text-align: center;
    height: 35px; 
    width: 100%;
    color: white; 
    font-size: 20px;
    font-weight: bolder;
    position: fixed;
    bottom: 0;
    padding: 10px;
  }

  .panel {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  p {
    color: cornsilk;
  }



  
